<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nova Matrícula</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

    <h2>Registrar Nova Matrícula</h2>

    <form th:action="@{/matriculaCTR/salvarMatricula}" th:object="${MariculaDTO}" method="POST">
        
        <div>
            <label for="alunoId">Selecione o Aluno:</label>
            <select id="id_aluno" th:field="*{id_aluno}" required>
                <option value=""> Escolha um Aluno </option>
                <!-- O th:value guarda o ID (que vai pro banco), e o th:text mostra o Nome para o usuário -->
                <option th:each="aluno : ${listAlunos}"
                        th:value="${aluno.id_aluno}"
                        th:text="${aluno.nome_aluno}">
                </option>
            </select>
        </div>
        <br>
        
        
        <div>
            <label for="cursoId">Selecione o Curso:</label>
            <select id="id_curso" th:field="*{id_curso}" required>
                <option value=""> Escolha um Curso </option>
                <option th:each="c : ${listCursos}"
                        th:value="${c.id_curso}"
                        th:text="${c.nome_curso}">
                </option>
            </select>
        </div>
        <br>

        <div>
            <label for="data_matricula">Data da Matrícula:</label>
            <input type="text" id="dataMatricula" th:field="*{dataMatricula}" placeholder="DD/MM/AAAA" required />
        </div>
        <br>

        <div>
            <label for="status">Status:</label>
            <select id="status" th:field="*{status}" required>
                <option value="ATIVA">Ativa</option>
                <option value="TRANCADA">Trancada</option>
                <option value="FINALIZADA">Finalizada</option>
            </select>
        </div>
        <br>

        <div>
            <label for="notaFinal">Nota Final (Opcional):</label>
            <input type="number" step="0.1" id="notaFinal" th:field="*{notaFinal}" />
        </div>
        <br>

        <button type="submit">Efetivar Matrícula</button>
    </form>

    <br>
    <a th:href="@{/matriculaCTR/listarMatriculas}">Voltar para a Listagem</a>

</body>
</html>