<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
    <style>
        table { width: 70%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </style>
</head>
<body>

    <h2>Lista de Alunos Matriculados</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF:</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${listAlunos}">
                <td th:text="${aluno.id_aluno}"></td>
                <td th:text="${aluno.nome_aluno}"></td>
                <td th:text="${aluno.cpf_aluno}"></td>
                <td th:text="${aluno.email_aluno}"></td>

                <td>
                    <a th:href="@{/aluno/editar/{id}(id=${aluno.id_aluno})}">Editar</a> |
                    <a th:href="@{/aluno/excluir/{id}(id=${aluno.id_aluno})}" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/aluno/formCadastrar}">+ Cadastrar Novo Aluno</a>

</body>
</html>